<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insung.core.mapper.UserMapper">
    <insert id="join" parameterType="com.insung.core.dto.UserDto">
        INSERT INTO shop_user (USER_ID,PWD,PWD_CHNG_DTTM,PWD_ERR_CNT,USER_NM,EMAIL_ADDR,EMAIL_ADDR_DM,USE_POSB_YN,CERT_XPRY_YN,LKD_YN,LEAV_YN,REG_ID,REG_DATE,CHNG_ID,CHNG_DATE)
            VALUES (#{user_id},#{pwd},now(),0,#{user_nm},#{email_addr},#{email_addr_dm},'Y','N','N','N',#{user_id},now(),null,null)
    </insert>

    <select id="findUser" resultType="com.insung.core.dto.UserDto">
        SELECT *
        FROM shop_user
        WHERE USER_ID = #{user_id};
    </select>

    <select id="validationUserID" parameterType="map" resultType="String">
        select USER_ID
        from shop_user
        where user_id = #{user_id};
    </select>
    <select id="validationUserEmail" parameterType="map" resultType="String">
        select email_addr
        from shop_user
        where email_addr = #{email_addr};
    </select>
</mapper>

